<header class="header">
  <a href="/" class="header-logo">Admin Panel</a>

  <nav class="header-nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header-button">
    <form method="post" action="/admin/Logout" role="form">
      <button>Logout</button>
    </form>
  </div>
</header>
